li {
    position: relative;
    padding: 20px;
    transition: all 0.2s;
    &.hasdeadline::before , &.hasdeadline::after {
        position: absolute;
        top: -10px;
        height: 20px;
        width: 200px;
        background: #ffffff;
    }
    &.hasdeadline::before {
        left: 10px;
        padding-left: 10px;    
        content: "Complete By: ";
    }
    &.hasdeadline::after {
        left: 150px;        
        content: attr(data-deadline);
    }
    &.complete {
        // background: lightgray;
        opacity: 0.5;
    }
    &.pending:hover{
        transform: scale(1.01);
        background: lightpink;
    }
    h4 {
        margin: 0;
    }
    button {
        transition: all 0.2s;
        padding: 0.5rem;
        font-size: 0.6em;
        font-weight: 600;
        background: transparent;
        border: none;
        text-transform: uppercase;
        border-bottom: 2px solid grey;
        margin-right: 10px;
        &:hover {
            border-bottom: 2px solid #ffffff;            
        }
    }
}